:root {
	--light: #FAFAFA;
	--primary: #054263;
	--text-dark: #181818;

	--p-button-primary-background: #3E92CC !important;
	--p-button-primary-color: #ffffff !important;
	--p-button-primary-border-color: #3E92CC !important;

	--p-button-primary-hover-background: #208DD9 !important;
	--p-button-primary-hover-color: #ffffff !important;
	--p-button-primary-hover-border-color: #208DD9 !important;
	
	--p-button-primary-active-background: #379DE4 !important; 
	--p-button-primary-active-color: #f6f6f6 !important;
	--p-button-primary-active-border-color: #379DE4 !important;
	
	/* Accordion */
	--p-accordion-header-background: #FFF !important;
	--p-accordion-header-color: #0A2463 !important;
	--p-accordion-header-active-background: #FFF !important;
	--p-accordion-header-active-color: #0A2463 !important;
	--p-accordion-header-border-color: #FFF !important;
	--p-accordion-header-active-hover-background: #FFF !important;
	--p-accordion-header-active-hover-color: #0A2463 !important;
	--p-accordion-header-hover-background: #FFF !important;
	--p-accordion-header-hover-color: #0A2463 !important;

	--p-accordion-hover-background: #FFF !important;
	--p-accordion-content-background: #FFF !important;
	--p-accordion-content-color: #0A2463 !important;
	--p-accordion-content-active-background: #FFF !important;

	--p-accordion-panel-border-color: #FFF !important;
	// --p-accordion-panel-border-width: 1 !important;
	// --p-accordion-header-border-radius: 24px !important;
	// --p-accordion-header-icon-border-radius: 50% !important;



	
	// --p-input-text-color: #054263 !important;
	// --p-inputtext-color: #054263 !important;
	// --p-inputtext-background: #ffffff !important;
	// --p-inputtext-border-color: #e5e7eb !important;
	// --p-inputtext-border-radius: 8px !important;
	// --p-inputtext-focus-border-color: #0f6999 !important;
	// --p-inputtext-disabled-background: #f8fafc !important;
	
	
	// // Button
	// --p-button-text-secondary-hover-background: #e7f5fc !important;
	// --p-button-text-secondary-color: #054263 !important;
	// --p-textarea-background: #ffffff !important;
	// --p-textarea-border-color: #e5e7eb !important;
	// --p-textarea-focus-border-color: #0f6999 !important;
	// --p-textarea-focus-color: #054263 !important;
	// --p-textarea-color: #054263 !important;
	// // --p-textarea-placeholder-color: #054263 !important;
	// --p-textarea-placeholder-focus-color: #054263 !important;
	// --p-textarea-placeholder-focus-background: #e7f5fc !important;
	
}
